.about {
  padding-top: 94px;
  padding-bottom: 94px;
}
.about-list {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: baseline;
  align-content: stretch;
  margin-left: -30px;
  margin-top: -30px;
}
.about-list-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 120px) / 4);
  /* flex-grow: 1; */
}
// .about-list-title {
//   margin-bottom: 10px;
//   // font-weight: 700;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;
// }
.about-list-text {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.about-icon {
  display: block;
  width: 70px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
}
.about-icon-bg {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}
